// overflow: hidden;
// text-overflow: ellipsis
// white-space: nowrap
.posts-list-item {
  display: flex;
  padding: 13px 20px;
  position: relative;
  transition: 0.2s background ease;

  &:hover {
    //background: #e9edf2;
    background: #f3f7ff;

    .posts-list-item__online {
      border-color: #e9edf2;
    }
  }

  &_active {
    //background: #f3f7ff;

    background: #e7f2ff;

    .posts-list-item__online {
      border-color: #f3f7ff;
    }
  }

  &__avatar-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &__online {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid white;
    background: #00c980;
    transition: 0.2s ease border-color;
  }

  &__content {
    width: 100%;
  }

  &__avatar {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #7ba4ff;
    border-radius: 50%;
  }

  &__data {
    float: right;
    opacity: 0.4;
    font-size: 12px;
  }

  &__username {
    color: #202020;
    margin-bottom: 5px;
    font-weight: bold;
    line-height: 16px;
  }

  &__message {
    width: 200px;
    color: #202020;
    opacity: 0.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
  }

  &__state-wrapper {
    position: absolute;
    right: 20px;
    bottom: 15px;
  }

  &__message-counter {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    background: #b6c6e4;
    border-radius: 50%;
    font-size: 11px;
    color: white;
    font-weight: bold;
  }
}
