*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

html {
  height: 100%;
}

.clearfix {
  clear: both;

  &::before {
    display: block;
    clear: both;
  }
}

#root {
  height: 100%;
}

button {
  border: none;
  text-decoration: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.App {
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul,
ol {
  li {
    list-style: none;
  }
}

.paragraph {
  width: 15px;
  display: flex;
}

.typing {
  transition: all 500s ease-in-out;
  display: inline-block;
  white-space: nowrap;
  width: 15px;
  overflow: hidden;
  animation: 0.5s typing steps(50, end) infinite;
}
